version: '3.9'

services:

  frontend:
    image: ghcr.io/shopongo/frontend:latest
    ports:
      - "3000:80"
    networks:
      - shopongo_test
    depends_on:
      - auth
      - product
      - review
      - search
      - media
      - favorites

  auth:
    image: ghcr.io/shopongo/auth-service:latest
    env_file:
      - .env
    environment:
      - DSN=${DSN}
      - REDIS_ADDRESS=redis_container:6379
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - KAFKA_BROKERS=kafka:9092
    depends_on:
      - redis_container
      - kafka
      - zookeeper
    ports:
      - "8081:8081"
    networks:
      - shopongo_test

  product:
    image: ghcr.io/shopongo/product-service:latest
    env_file:
      - .env
    environment:
      - DSN=${DSN}
      - KAFKA_BROKERS=kafka:9092
      - KAFKA_PRODUCT_TOPIC=product-events
      - KAFKA_PRODUCT_GROUP_ID=product-group
      - KAFKA_PRODUCT_CLIENT_ID=product-consumer
      - KAFKA_VARIANT_TOPIC=productVariant-events
      - KAFKA_VARIANT_GROUP_ID=productVariant-group
      - KAFKA_VARIANT_CLIENT_ID=productVariant-consumer
      - KAFKA_MEDIA_TOPIC=media-stored
      - KAFKA_MEDIA_GROUP_ID=product-media-updater
      - KAFKA_MEDIA_CLIENT_ID=product-media-consumer
      - KAFKA_PRODUCER_TOPIC=products:product-created
    depends_on:
      kafka:
        condition: service_healthy
      zookeeper:
        condition: service_started
    ports:
      - "8082:8082"
    networks:
      - shopongo_test

  review:
    image: ghcr.io/shopongo/review-service:latest
    env_file:
      - .env
    environment:
      - DSN=${DSN}
      - KAFKA_BROKERS=kafka:9092
    depends_on:
      - kafka
      - zookeeper
    ports:
      - "8080:8080"
    networks:
      - shopongo_test

  search:
    image: ghcr.io/shopongo/search-service:latest
    env_file:
      - .env
    environment:
      - DSN=${DSN}
      - ELASTIC_URL=http://elasticsearch:9200
      - ELASTIC_INDEX=products
      - KAFKA_SEARCH_BROKERS=kafka:9092
      - SEARCH_SERVICE_LOG_LEVEL=${SEARCH_SERVICE_LOG_LEVEL}
      - SEARCH_SERVICE_FILE_LOG_LEVEL={SEARCH_SERVICE_FILE_LOG_LEVEL}
    depends_on:
      - kafka
      - zookeeper
      - elasticsearch
    ports:
      - "8085:8085"
    networks:
      - shopongo_test

  media:
    image: ghcr.io/shopongo/media-service:latest
    env_file:
      - .env
    volumes:
      - ./uploads:/media/uploads
    environment:
      - KAFKA_BROKERS=kafka:9092
    depends_on:
      - kafka
      - zookeeper
    ports:
      - "8084:8084"
    networks:
      - shopongo_test

  favorites:
    image: ghcr.io/shopongo/favorites-service:latest
    env_file:
      - .env
    environment:
      - DSN=${DSN}
      # - KAFKA_BROKERS=kafka:9092
      # depends_on:
      #   - kafka
      #   - zookeeper
    depends_on:
      - product
    ports:
      - "8083:8083"
    networks:
      - shopongo_test

  notify:
    image: ghcr.io/shopongo/notification-service:latest
    env_file:
      - .env
    environment:
      - KAFKA_BROKERS=${KAFKA_BROKERS}
      - KAFKA_NOTIFY_TOPIC=${KAFKA_NOTIFY_TOPIC}
      - KAFKA_NOTIFY_CONSUMER=${KAFKA_NOTIFY_CONSUMER}
      - KAFKA_SMTP_CONSUMER=${KAFKA_SMTP_CONSUMER}
      - KAFKA_NOTIFICATION_TOPICS=${KAFKA_NOTIFICATION_TOPICS}
      - MONGO_URI=${MONGO_URI}
      - MONGO_DB=${MONGO_DB}
      - SMTP_NAME=${SMTP_NAME}
      - SMTP_FROM=${SMTP_FROM}
      - SMTP_PASS=${SMTP_PASS}
      - SMTP_HOST=${SMTP_HOST}
      - SMTP_PORT=${SMTP_PORT}
    depends_on:
      - mongo
    ports:
      - "8079:8079"
    networks:
      - shopongo_test

  redis_container:
    image: redis:latest
    restart: always
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    ports:
      - "6379:6379"
    networks:
      - shopongo_test

  mongo:
    image: mongo:6.0
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_INITDB_DATABASE}
    volumes:
      - mongo_data:/data/db
    networks:
      - shopongo_test
    ports:
      - "27017:27017"

  zookeeper:
    image: bitnamilegacy/zookeeper:3.8
    restart: always
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes
      - ZOO_LOG4J_PROP=ERROR,CONSOLE
    ports:
      - "2181:2181"
    networks:
      - shopongo_test

  kafka:
    image: bitnamilegacy/kafka:3.3
    restart: always
    environment:
      - KAFKA_BROKER_ID=1
      - KAFKA_CFG_ZOOKEEPER_CONNECT=zookeeper:2181
      - ALLOW_PLAINTEXT_LISTENER=yes
      - KAFKA_CFG_LISTENERS=PLAINTEXT://0.0.0.0:9092
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
      - KAFKA_CFG_INTER_BROKER_LISTENER_NAME=PLAINTEXT
      - KAFKA_AUTO_CREATE_TOPICS_ENABLE=true
      - KAFKA_CFG_LOG4J_LOGGERS=root=ERROR,org.apache.kafka=ERROR
      - KAFKA_CFG_LOG4J_ROOT_LOGLEVEL=ERROR
      - KAFKA_LOG4J_OPTS=-Dlog4j.configuration=file:/opt/bitnami/kafka/config/log4j.properties
    depends_on:
      - zookeeper
    healthcheck:
      test: ["CMD", "kafka-topics.sh", "--bootstrap-server", "localhost:9092", "--list"]
      interval: 5s
      retries: 12
      timeout: 5s
    ports:
      - "9092:9092"
    networks:
      - shopongo_test

  elasticsearch:
    image: docker.io/elasticsearch:7.17.13
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
      - logger.level=ERROR
    ports:
      - "9200:9200"
    volumes:
      - esdata:/usr/share/elasticsearch/data
    networks:
      - shopongo_test
      
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:9200 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 6

  logstash:
    image: elastic/logstash:7.17.13
    depends_on:
      - elasticsearch
    volumes:
      - ./internal/logstash:/usr/share/logstash/logstash_internal
    env_file:
      - .env
    environment:
      LS_JAVA_OPTS: "-Xms256m -Xmx256m"
    networks:
      - shopongo_test

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./pkg/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - auth
    networks:
      - shopongo_test

volumes:
  esdata:
  mongo_data:

networks:
  shopongo_test:
    driver: bridge

